.formulairemechant {
    border: 1px solid black;
    width: 600px;
    height: 250px;
    margin-bottom: 10px;
}


#rectangle{
    text-align: center;
}


.carte {
    border: 1px solid black;
    width: 600px;
    height: 250px;
    
}

#avatar {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nom{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
}

